{:highlights [{:id #uuid "65b8708b-c6c0-4ba7-ba5e-a3750361a676",
               :page 2,
               :position {:bounding {:x1 376.7874526977539,
                                     :y1 617.3574523925781,
                                     :x2 572.2820816040039,
                                     :y2 631.0505218505859,
                                     :width 652.8,
                                     :height 844.8},
                          :rects ({:x1 376.7874526977539,
                                   :y1 617.3574523925781,
                                   :x2 572.2820816040039,
                                   :y2 631.0505218505859,
                                   :width 652.8,
                                   :height 844.8}),
                          :page 2},
               :content {:text "/usr/local/cuda-11.7/samples"},
               :properties {:color "yellow"}}
              {:id #uuid "65b872b8-471b-43ca-a523-380fda4606ee",
               :page 3,
               :position {:bounding {:x1 76.7667350769043,
                                     :y1 187.7803955078125,
                                     :x2 572.2515983581543,
                                     :y2 201.4734649658203,
                                     :width 652.8,
                                     :height 844.8},
                          :rects ({:x1 76.7667350769043,
                                   :y1 187.7803955078125,
                                   :x2 572.2515983581543,
                                   :y2 201.4734649658203,
                                   :width 652.8,
                                   :height 844.8}),
                          :page 3},
               :content {:text "allocate device global memory arrays and insert calls to move data between the host and device memories"},
               :properties {:color "yellow"}}
              {:id #uuid "65b8747e-1cbd-4d62-ab90-5146e9870e2d",
               :page 3,
               :position {:bounding {:x1 76.76673889160156,
                                     :y1 353.35949245095253,
                                     :x2 602.4563941955566,
                                     :y2 381.4944411814213,
                                     :width 652.8,
                                     :height 844.8},
                          :rects ({:x1 328.6575050354004,
                                   :y1 353.35949245095253,
                                   :x2 602.4563941955566,
                                   :y2 367.0525466501713,
                                   :width 652.8,
                                   :height 844.8}
                                  {:x1 76.76673889160156,
                                   :y1 367.80138698220253,
                                   :x2 357.09178161621094,
                                   :y2 381.4944411814213,
                                   :width 652.8,
                                   :height 844.8}),
                          :page 3},
               :content {:text "ou should place a call to cudaThreadSynchronize() following the kernel call to wait for completion of all CUDA "},
               :properties {:color "yellow"}}
              {:id #uuid "65b960a7-9617-46b3-8873-f0f8ac889b9c",
               :page 2,
               :position {:bounding {:x1 234.9501495361328,
                                     :y1 296.84706115722656,
                                     :x2 556.3647613525391,
                                     :y2 310.99656677246094,
                                     :width 683,
                                     :height 883.8823529411765},
                          :rects ({:x1 234.9501495361328,
                                   :y1 296.84706115722656,
                                   :x2 556.3647613525391,
                                   :y2 310.99656677246094,
                                   :width 683,
                                   :height 883.8823529411765}),
                          :page 2},
               :content {:text "export PATH=/usr/local/cuda-11.7/bin:${PATH}"},
               :properties {:color "yellow"}}],
 :extra {:page 2}}
