{:highlights [{:id #uuid "65ad8ab5-63c7-4f50-a682-bfa9debae055",
               :page 7,
               :position {:bounding {:x1 88.109375,
                                     :y1 552.234375,
                                     :x2 162.1953125,
                                     :y2 563.734375,
                                     :width 598.9999999999999,
                                     :height 775.1764705882351},
                          :rects ({:x1 88.109375,
                                   :y1 552.234375,
                                   :x2 162.1953125,
                                   :y2 563.734375,
                                   :width 598.9999999999999,
                                   :height 775.1764705882351}),
                          :page 7},
               :content {:text "What does lg(n!)"},
               :properties {:color "yellow"}}
              {:id #uuid "65ad93e0-5243-42b3-b70c-e9ca96b6d55e",
               :page 8,
               :position {:bounding {:x1 104.33829225599766,
                                     :y1 459.6019592285156,
                                     :x2 310.61079896986485,
                                     :y2 477.40293884277344,
                                     :width 546,
                                     :height 706.5882352941177},
                          :rects ({:x1 104.33829225599766,
                                   :y1 459.6019592285156,
                                   :x2 310.61079896986485,
                                   :y2 477.40293884277344,
                                   :width 546,
                                   :height 706.5882352941177}),
                          :page 8},
               :content {:text "Sorting in the exchange model"},
               :properties {:color "yellow"}}
              {:id #uuid "65ad9ceb-2373-4a1e-b328-b44db9e032b6",
               :page 5,
               :position {:bounding {:x1 248.32161439955235,
                                     :y1 80.33975219726562,
                                     :x2 329.5677997022867,
                                     :y2 94.94570922851562,
                                     :width 546,
                                     :height 706.5882352941177},
                          :rects ({:x1 248.32161439955235,
                                   :y1 80.33975219726562,
                                   :x2 329.5677997022867,
                                   :y2 94.94570922851562,
                                   :width 546,
                                   :height 706.5882352941177}),
                          :page 5},
               :content {:text "decision trees"},
               :properties {:color "yellow"}}
              {:id #uuid "65aef020-262e-4171-823b-45c27356f546",
               :page 7,
               :position {:bounding {:x1 122.9505816847086,
                                     :y1 130.369384765625,
                                     :x2 252.42931093275547,
                                     :y2 140.86740112304688,
                                     :width 546,
                                     :height 706.5882352941176},
                          :rects ({:x1 122.9505816847086,
                                   :y1 130.369384765625,
                                   :x2 252.42931093275547,
                                   :y2 140.86740112304688,
                                   :width 546,
                                   :height 706.5882352941176}),
                          :page 7},
               :content {:text "information-theoretic argument."},
               :properties {:color "yellow"}}],
 :extra {:page 7}}
