{:highlights [{:id #uuid "65b93afc-c1fb-4d3c-93ff-eb6d1a7e24fa",
               :page 9,
               :position {:bounding {:x1 41.599812641739845,
                                     :y1 80.7890625,
                                     :x2 439.1060077100992,
                                     :y2 109.54449462890625,
                                     :width 546,
                                     :height 421.90909090909093},
                          :rects ({:x1 41.599812641739845,
                                   :y1 80.7890625,
                                   :x2 439.1060077100992,
                                   :y2 109.54449462890625,
                                   :width 546,
                                   :height 421.90909090909093}),
                          :page 9},
               :content {:text "Fingerprinting (the Karp-Rabin Method)"},
               :properties {:color "yellow"}}],
 :extra {:page 9}}
